// Todo:: add variables declare to e.g. declare $leader$ 

normal{
	"q": Quit();
	"tt": WriteText(Test);
	"_c": ToDo();
	"_v": ToDo();
	"dd": DeleteCurrentLine();
	"i": InsertMode();
	"a": InsertMode() MoveCursor(1,0);
	"l": MoveCursor(1, 0);
	"h": MoveCursor(-1, 0);
	"k": MoveCursor(0, 1);
	"j": MoveCursor(0, -1);
	"e": GoToEndOfWord(true);
	"E": GoToEndOfWord(false);
	"b": GoToStartOfWord(true);
	"B": GoToStartOfWord(false);
}

insert{
	"jj": NormalMode();
	"<Escape>": NormalMode();
	"<Backspace>": BackspaceLetters(1);
	"<Delete>": DeleteLetters(1);
        "<Enter>": InsertLine();

}
