normal{
	"q": Quit();
	"tt": WriteText(Test);
	"_c": ToDo();
	"_v": ToDo();
	"dd": ToDo();
	"i": InsertMode();
	"a": InsertMode() MoveCursor(1,0);
	"l": MoveCursor(1, 0);
	"h": MoveCursor(-1, 0);
	"k": MoveCursor(0, 1);
	"j": MoveCursor(0, -1);
}

insert{
	"jj": NormalMode();
	"<Escape>": NormalMode();
	"<Backspace>": BackspaceLetters(1);
	"<Delete>": DeleteLetters(1);
}
